/* * {
    border: 3px dashed red;
} */

body,
html {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    background: rgb(245, 198, 153);
    background: linear-gradient(0deg, rgba(245, 198, 153, 1) 0%, rgba(173, 94, 136, 1) 42%, rgba(139, 69, 137, 1) 59%, rgba(14, 38, 121, 1) 100%);
    background-attachment:fixed;
}